.metronome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#playBtn {
  margin: 10px;
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: orange;
  outline: none;
}

#bpmLabel {
  font-size: 1.2rem;
  font-family: sans-serif;
  margin: 10px;
}

.bpm-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bpm-slider input {
  width: 35vw;
  margin: 10px;
}
